In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [61]:
'FIXME'
def check_win(state, label):
    return False
'FIXME'
def get_state_from_code(code):
    return np.array(re.findall(r'\d', code)).reshape((3,3)).astype('int')-1
def get_code_from_state(state):
    result = ''
    for s in (state.flatten()+1).astype('str'):
        result += s
    return result
def state_generate(label):
    states = []
    values = []
    for i in range(19683):
        s = np.base_repr(i,base=3)
        s = '0'*(9-len(s)) + s
        states.append(s)
        if check_win(get_state_from_code(s), label):
            values.append(1)
        else:
            values.append(0.5)
    states = np.array(states)
    return pd.DataFrame({'states':states, 'value':values}).set_index('states')

In [62]:
get_state_from_code('222211000')

array([[ 1,  1,  1],
       [ 1,  0,  0],
       [-1, -1, -1]])

In [63]:
get_code_from_state(np.array([[ 1,  1,  1],[ 1,  0,  0], [-1, -1, -1]]))

'222211000'

In [64]:
state_generate(1)

           value
states
000000000    0.5
000000001    0.5
000000002    0.5
000000010    0.5
000000011    0.5
000000012    0.5
000000020    0.5
000000021    0.5
000000022    0.5
000000100    0.5
000000101    0.5
000000102    0.5
000000110    0.5
000000111    0.5
000000112    0.5
000000120    0.5
000000121    0.5
000000122    0.5
000000200    0.5
000000201    0.5
000000202    0.5
000000210    0.5
000000211    0.5
000000212    0.5
000000220    0.5
000000221    0.5
000000222    0.5
000001000    0.5
000001001    0.5
000001002    0.5
...          ...
222221220    0.5
222221221    0.5
222221222    0.5
222222000    0.5
222222001    0.5
222222002    0.5
222222010    0.5
222222011    0.5
222222012    0.5
222222020    0.5
222222021    0.5
222222022    0.5
222222100    0.5
222222101    0.5
222222102    0.5
222222110    0.5
222222111    0.5
222222112    0.5
222222120    0.5
222222121    0.5
222222122    0.5
222222200    0.5
222222201    0.5
222222202    0.5
222222210    0.5
222222211    0.5
222222212    0.5
222222220    0.5
222222221    0.5
222222222    0.5

[19683 rows x 1 columns]